body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.ui {
  width: 95%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1px 20px;
}
#canvas {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  padding: 2px 40px;

  align-items: center;
}

.inner-div {
  position: absolute;
  text-align: center;
  top: 8%;
  left: 50%;
  color: rgb(255, 255, 255);
  transform: translate(-50%);

}

.inner-div h1{
  height: 20px;
  font-size: 50px;
}
